@import "../../../node_modules/antd/dist/antd.css";
* {
    padding: 0;
    margin: 0;
}
.main_layout {
    background: #707070;
}

.header_style {
    height: 340px;
    background: #ffffff;
    margin: 16px 16px 0 16px;
    padding: 0;
}

.content_style {
    height: 500px;
    margin: 7px 16px;
    padding: 24px;
    background: #fff;
}

.footer_style {
    background: #ffffff;
    margin: 0 16px 10px 16px;
}